<section class="content" ng-controller="LoginCrtl as logCtrl">
    <div class="row">
        <div class="container">
            <div class="col-md-6 col-md-offset-3 tr-custom-login">
                <table class="table">
                    <tr class="form-group">
                        <td>
                            <label class="control-label">Email</label>
                        </td>
                        <td>
                            <input  type="text" ng-model="logCtrl.login.email" name="email" class="form-control">
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label class="control-label">Senha</label>
                        </td>
                        <td>
                            <input type="password" ng-model="logCtrl.login.password"  name="senha" class="form-control">
                        </td>
                    </tr>
                </table>
                <table class="table">
                    <tr class="form-group">
                        <td>
                            <button ng-click="logCtrl.Login()" class="form-control btn btn-default bt-green">Login</button>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <button type="submit" ng-click="logCtrl.LoginSocial()" class="btn btn-default bt-green">facebook</button>
                            <button type="submit" ng-click="logCtrl.LoginSocial()" class="btn btn-default bt-green">G+</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
