<div class="row">
    <div class="col-sm-18">
        <div class="footer">
            <div>
                <div class="col-md-4 footer-left">
                    <ul>
                        <li>Crie sua campanha</li>
                        <li><a href="#">Comece agora</a>
                        <li><a href="#">Cases de sucesso</a>
                        <li><a href="#">Valores e taxas</a>
                        <li><a href="#">Passo-a-passo campanhas</a>
                    </ul>
                    <ul>
                        <li>Sobre a Nature Invest</li>
                        <li><a href="#">Como funciona</a>
                        <li><a href="#">Quem somos</a>
                        <li><a href="#">Trabalhe Conosco</a>
                        <li><a href="#">Passo-a-passo campanhas</a>
                        <li><a href="#">Imprensa & branding</a>
                    </ul>
                </div>
                <div class="col-md-4 footer-left">
                    <ul>
                        <li>Invista em um projeto</li>
                        <li><a href="#">Navegue nos projetos</a>
                        <li><a href="#">Conheça os criadores</a>
                        <li><a href="#">Passo-a-passo do Investidor</a>
                        <li><a href="#">Passo-a-passo do Investidor</a>
                    </ul>
                    <ul>
                        <li>Ajuda</li>
                        <li><a href="#">Manual de uso</a>
                        <li><a href="#">Política de privacidade</a>
                        <li><a href="#">Perguntas frequentes</a>
                        <li><a href="#">Entre em contato</a>
                    </ul>
                </div>
                <div class="col-md-10 footer-right">
                    Assine nossa newsletter<br />
                    <div class="input-group double-input">
                        <input type="text" placeholder="Nome" class="form-control" />
                        <div>
                            <input type="text" placeholder="Sobrenome" class="form-control" />
                            <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                        </div>
                    </div><!-- /input-group -->
                    <div class="footer-logo"></div>
                    <div class="langs">
                        <a href="#" class="btn btn-default">PT</a>
                        <a href="#" class="btn btn-primary">EN</a>
                        <a href="#" class="btn btn-primary">ES</a>
                        <a href="#" class="btn btn-primary">NL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content for Popover #1 -->
<div class="hidden" id="popover-apoio">
    <div class="popover-body">
        <table class="table table-bordered table-condensed">
            <tbody><tr>
                <td>Valor doado</td>
                <td>R$ 200,00</td>
            </tr>

            <tr>
                <td>Taxas 6,49%</td>
                <td>R$ 14,80</td>
            </tr>

            <tr>
                <td>Total líquido doado</td>
                <td>R$ 205,20</td>
            </tr>

            <tr>
                <td colspan="2">Taxas da doação indexadas ao método Paypal. Para ver outras taxas, <a href="#">clique aqui</a></td>
            </tr>
            </tbody></table>
    </div>
</div>