<nav class="nav justify-content-end" ng-controller="LoginCrtl as logCtrl">
    <div ng-if="logCtrl.tabLogado">
        Olá {{logCtrl.usuario.nome}} | <a class="btn btn-default bt-green" ng-click="logCtrl.Logout()">Logout</a>
    </div>
    <div ng-if="logCtrl.tabLogin">
        <a id="a-gray" ui-sref="Login">login</a> | <a class="btn btn-default bt-green" ui-sref="criarConta">criar conta</a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="headerCrtl as heaCtrl">
    <a class="navbar-brand" ng-click="heaCtrl.clickInicio()" href="#">
        <img src="../assets/img/marca-nature-invest.png" class="d-inline-block align-top img-responsive" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#" ng-click="heaCtrl.clickInvista()" ng-class="{amenu: heaCtrl.tabInvista == true}">invista <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="heaCtrl.clickCriarCamapanha()" ng-class="{amenu: heaCtrl.tabcriarCampanha == true}" ui-sref="tabs" href="#">criar campanha</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ng-click="heaCtrl.clickComoFunciona()" ng-class="{amenu: heaCtrl.tabComoFunciona == true}" href="#">como funciona</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    admin
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a ui-sref="avaliacao">Lista de Avaliações</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
