<div class="row">
    <div class="tr-custom-form">
        <table class="table">
            <tr class="form-group">
                <td class="col-lg-4">
                    <label>Recompensa</label>
                </td>
                <td class="col-lg-14">
                    <input type="checkbox" ng-model="caCtrl.temRecompensa" aria-label="Toggle ngShow"> Recompensa
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="caCtrl.temRecompensa">
        <div class="tr-custom-form-recompensa" ng-repeat="recompensa in caCtrl.listas.recompensa">
            <table class="table">
                <tr class="form-group">
                    <td class="col-lg-4">
                        <label>Valor pedido</label>
                    </td>
                    <td class="col-lg-14">
                        <input ng-model="recompensa.valor" type="text"  name="titulo">
                        <select class="espaco dropdown" ng-model="recompensa.moeda" name="modeda">
                            <option value="BRLS [R$]">BRLS [R$]</option>
                            <option value="Dollars [U$]">Dollars [U$]</option>
                            <option value="Euro [E$]">Euro [E$]</option>
                        </select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label>Descrição</label>
                    </td>
                    <td>
                        <textarea ng-model="recompensa.descricao" class="note-codable"></textarea>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label>Estimativa de entrega</label>
                    </td>
                    <td>
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownDataEntrega" role="button" data-toggle="dropdown">
                                <div class="input-group"><input type="text" class="form-control"  ng-model="recompensa.entrega" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="recompensa.entrega"  data-datetimepicker-config="{ dropdownSelector: '#dropdownDataEntrega' }"/>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label>Detalhes de envio</label>
                    </td>
                    <td>
                        <select class="dropdown" ng-model="recompensa.detalhes" name="modeda">
                            <option value="BRLS [R$]">Sem Envio</option>
                            <option value="Dollars [U$]">Apenas para certos Paises</option>
                            <option value="Euro [E$]">Internacional</option>
                        </select>
                    </td>
                </tr>
                <tr class="form-group">
                    <td>
                        <label>N de Apoiadores</label>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="recompensa.limitado" name="limitado" value="true">Quantidade Limitada
                        <input ng-model="recompensa.limite" type="number" ng-show="recompensa.limitado"  name="titulo">
                    </td>
                </tr>
            </table>
        </div>

        <div class="tr-custom-form">
            <table class="table">
                <tr class="form-group">
                    <td class="col-lg-4">
                        <button type="button" ng-click="caCtrl.addRecompensa($index)" class="btn bt-green">Adicionar linha</button>
                    </td>
                    <td class="col-lg-14">

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <table class="table">
        <tr class="form-group">
            <td class="col-lg-4">
                <button type="button" ng-click="caCtrl.createRecompensa(caCtrl.campanha)" data-target="#tabEquipe" data-toggle="tab" class="btn btn-default bt-green">Próximo Passo</button>
            </td>
            <td class="col-lg-14">

            </td>
        </tr>
    </table>
</div>
