<div class="row">

    <div class="tr-custom-form">
        <table class="table">
            <tr class="form-group">
                <td class="col-lg-4">
                    <label>Imagem do Projeto</label>
                </td>
                <td class="col-lg-14">
                    <button type="button" class="btn btn-default bt-green"><span class="espaco-right glyphicon glyphicon-folder-open" aria-hidden="true"></span>Procurar arquivo</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="tr-custom-form">
        <table class="table">
            <tr class="form-group">
                <td class="col-lg-4">
                    <label class="control-label">Título do Projeto</label>
                </td>
                <td class="col-lg-14">
                    <input ng-model="caCtrl.campanha.titulo" type="text"  name="titulo" class="counter form-control">
                </td>
            </tr>
        </table>
    </div>
    <div class="tr-custom-form">
        <table class="table">
            <tr class="form-group">
                <td class=" col-md-4 col-lg-4">
                    <label>Meta de Orçamento</label>
                </td>
               <td class="col-lg-14">
                   <input  ng-model="caCtrl.campanha.orcamento" type="text" name="orcamento" >
                   <select class=" espaco dropdown" ng-model="caCtrl.campanha.moeda" name="modeda">
                       <option value="BRLS [R$]">BRLS [R$]</option>
                       <option value="Dollars [U$]">Dollars [U$]</option>
                       <option value="Euro [E$]">Euro [E$]</option>
                   </select>
               </td>
            </tr>
        </table>
    </div>
    <div class="tr-custom-form">
        <table class="table">
            <tr class="form-group">
                <td class="col-lg-4">
                    <label>Escolhendo sua localidade</label>
                </td>
                <td class="col-lg-14">
                    <select class="dropdown" ng-model="caCtrl.campanha.localidade" name="localidade">
                        <option value="DF">Brasília</option>
                        <option value="AC">Acre</option>
                        <option value="RJ">Rio de Janeiro</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="tr-custom-form">
        <table class="table">
                <tr class="form-group">
                    <td class="col-lg-4">
                        <label>Previsão de Inicio</label>
                    </td>
                    <td class="col-lg-14">
                        <div class="dropdown">
                            <a class="dropdown-toggle" id="dropdownDataInicial" role="button" data-toggle="dropdown">
                                <div class="input-group"><input type="text" class="form-control"  ng-model="caCtrl.campanha.dataInicial" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                </div>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <datetimepicker ng-model="caCtrl.campanha.dataInicial"  data-datetimepicker-config="{ dropdownSelector: '#dropdownDataInicial' }"/>
                            </ul>
                        </div>
                    </td>
                </tr>
        </table>
    </div>
    <div class="tr-custom-form">
        <table class="table">
            <tr class="form-group">
                <td class="col-lg-4">
                    <label>Previsão de Termino</label>
                </td>
                <td class="col-lg-14">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="dropdownDataFinal" role="button" data-toggle="dropdown">
                            <div class="input-group"><input type="text" class="form-control"  ng-model="caCtrl.campanha.dataFinal" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="caCtrl.campanha.dataFinal"  data-datetimepicker-config="{ dropdownSelector: '#dropdownDataFinal' }"/>
                        </ul>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <table class="table">
            <tr class="form-group">
                <td class="col-lg-4">
                    <button type="button" class="btn btn-danger">Apagar Projeto</button>
                </td>
                <td class="col-lg-14">
                    <button type="button" ui-sref="historiaProjeto" ng-click="caCtrl.createCampanha()" data-target="#tabHistory" data-toggle="tab" class="btn btn-default bt-green">Salvar e Prosseguir</button>
                </td>
            </tr>
    </table>
</div>